html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --primary-bg: #ebf0f3ba;
    --secondary-bg: #262626;
    --accent-bg: #4f46e5;

    --primary-color: #fff;
    --secondary-color: rgba(24, 41, 57, 0.869);
    --accent-color: #818cf8;

    --border-color: rgba(255, 255, 255, 30%);

    --username-size: 32px;
    --title-size: 28px;
    --subtitle: 24px;
}

:root {
    --fontColor: #5271ff;
    --fontColorblack: #2a2a2d;
    --fontColorBlue: #0c0d3d;
}

body {
    background-image: url(/Educate-main/img/new/hero-bg.svg);
    background-size: cover;
}




/* ---------- body element's */
.container {
    height: 100vh;
    backdrop-filter: blur(20px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg);
    border-radius: 0px;
    border: 2px solid var(--accent-bg);

    display: grid;
    grid-template-rows: 220px auto;
    overflow: auto;
}

/* ------ profile header section */
.profile-header {
    margin: 10px;
    margin-top: 5rem;
    /* background: url('images/banner.jpg') center; */
    background-color: #5271ff;
    background-size: cover;
    border-radius: 30px 30px 0 0;
    position: relative;
}

.main-profile {
    display: flex;
    align-items: center;
    position: absolute;
    inset: calc(100% - 75px) auto auto 70px;
}

.profile-image {
    width: 150px;
    height: 150px;
    background: url('avtar.png') center;
    background-size: cover;
    border-radius: 50%;
    border: 10px solid var(--primary-bg);
    z-index: 2;
    background-color: #5271ff;
}

.profile-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    background-color: var(--primary-bg);
    padding: 10px 30px;
    border-radius: 0 50px 50px 0;
    margin-left: -20px;
    transform: translateY(7.5px);
}

.page-title {
    color: var(--secondary-color);
}










/* ------- profile body header */
.profile-body {
    display: grid;
    grid-template-columns: 150px auto;
    gap: 70px;
    padding: 70px;
}

.profile-actions {
    display: grid;
    grid-template-rows: repeat(2, max-content) auto;
    gap: 10px;
    margin-top: 30px;
}

.profile-actions button {
    all: unset;
    padding: 10px;
    color: var(--primary-color);
    border: 2px solid var(--accent-bg);
    text-align: center;
    border-radius: 10px;
}

.profile-actions .follow {
    background-color: var(--accent-bg)
}

.bio {
    color: var(--primary-color);
    background-color: var(--secondary-bg);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.bio-header {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);
    color: var(--secondary-color);
}

.account-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
    gap: 20px;
}

.data {
    grid-area: 1/1/2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--secondary-color);
    padding: 30px;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 15px;
}

.important-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.other-data {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--secondary-bg);
    padding: 15px;
    border-radius: 10px;
}

.data-item .value {
    color: var(--accent-color);
}

.important-data .value {
    font-size: var(--title-size);
}

.other-data .value {
    font-size: var(--subtitle);
}

.social-media {
    grid-area: 2/1/3/3;
    background-color: var(--secondary-bg);
    color: var(--secondary-color);
    padding: 15px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 15px;
}

.media-link {
    text-decoration: none;
    color: var(--accent-color);
    font-size: var(--subtitle);
}

.last-post {
    grid-area: 1/3/3/4;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-bg);
    border-radius: 10px;
    padding: 10px;

    display: grid;
    grid-template-rows: 70% auto max-content;
    gap: 10px;
}

.post-cover {
    position: relative;
    background: url('/images/last-post.jpg') center;
    background-size: cover;
    border-radius: 5px;
}

.last-badge {
    position: absolute;
    inset: 3px 3px auto auto;
    background-color: rgba(0, 0, 0, 70%);
    color: var(--primary-color);
    padding: 5px;
    border-radius: 3px;
}

.post-title {
    color: var(--primary-color);
    font-size: 18px;
}

.post-CTA {
    all: unset;
    text-align: center;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 5px;
    padding: 5px;
}




/*------------------------------------*\
  #ROOT
\*------------------------------------*/
:root {
    --ff-primary: 'Rubik', sans-serif;
    --ff-accent: 'Merriweather', serif;
    
    --clr-primary: #f00;
    --clr-dark: #101419;
    --delay: 200ms;
    --transition: 300ms ease;
  }
  
  /*------------------------------------*\
    #GLOBAL
  \*------------------------------------*/

  
  /*------------------------------------*\
    #CARD
  \*------------------------------------*/
  /**
   * Quick explanation on how the transitions are working
   * 
   * 1. Remove the background overlay after the dash and content disappear.
   * 2. Apply the background overlay on hover first.
   * 
   * 3. Remove the content after the dash disappears and before the background overlay.
   * 4. Show the content after the background overlay.
   *
   * 5. Remove the dash when hover finished.
   * 6. Show the dash after the background overlay and content appear.
   */

.test-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.test-info {
    width: 70%;
    /* height: 600px; */
    margin: auto;
    margin-top: 75px;
    /* border: 2px solid rgb(255, 0, 0); */
}

.card{
    margin: 20px 30px;
    /* background-color: azure; */
    display: flex;
    /* align-items: flex-end;// */
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    width: 270px;
    height: auto;
    position: relative;
    overflow: hidden;
    /* background-color: #5272ff32; */
    background-color: rgb(245, 245, 245);
    /* padding: 0 20px; */
    box-shadow: 15px 25px 15px 5px #8484849a;
}

.test-sec{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.test-name{
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
    margin: 15px 0;
    padding: 4px 0;
    border-bottom:2px solid gray;
}

.sub-wise .sub{
    margin: 7px 0;
    color: gray;
    margin-left: 20px;
    
}
.total{
    margin: 7px 0;
    padding: 10px;
    font-size: 20px;
    border-top: 2px solid gray;
    text-align: center;
}

/* .extra{
    width: ;
} */

.card:hover .card-info{
    bottom: 00px;
    background-color: #d4dcff;
    /* background-color: rgb(197, 198, 222); */
    padding: 30px 20px;
}

/* .card:hover .card-info h4{
    font-size: 25px;
} */
.card-info h4{
    font-size: 25px;
}
/* .card:hover .test-sec{
    display: none;

} */
/*
.card:hover .extra{
    margin-top: 10px;
}

.card:hover .extraName{
    margin-bottom: 5px;
}

.card-info h4{
    border-bottom: 3px solid rgba(112, 99, 125, 0.746);
} */

.card-info{
    padding: 30px 20px;
    padding-top: 100px;
    position: absolute;
    bottom: -250px;
    transition: 0.5s;
    width: 100%;
    height: 250px;
}
.card-info h4{
    border-bottom: 2px solid rgba(128, 128, 128, 0.425);
    margin-bottom: 20px;
}
.acu{
    font-weight: 600;
}
.total-r{
    color: green;
}
.total-in{
    color: red;
}





/*-- nav --*/

#navbar {
    display: flex;
    align-items: center;
    text-align: center;
    height: auto;
    justify-content: space-between;
    width: 100%;
    height: auto;
    position: fixed;
    padding: 20px;
    z-index: 20;
    box-shadow: 1px 0 10px 5px rgba(0, 0, 0, 0.347);
}

.logo {
    height: 30px;
}

.logo img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menu {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
    text-align: center;
}

.menu ul li a,
.last-col a {
    color: var(--fontColorblack);
    margin: 0px 20px;
    font-size: 1rem;
    font-weight: 450;
}

.last-col a {
    font-weight: 350;
}

.last-col {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
}

.last-col .reg {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 8px 20px;
    background-color: var(--fontColor);
    color: #ffffff;
    border-radius: 4px;
    margin-left: 8px;
}

.last-col .reg i {
    margin: 0px 10px 0px 0px;
}

.last-col .ser {
    background-color: #d4d2ee;
    color: var(--fontColorblack);
    padding: 8px 10px;
    border-radius: 4px;
    margin: 0%;
}



.tolg {
    display: none;
}


/* ------------ media queries */
@media screen and (max-width: 950px) {
    .last-post {
        display: none;
    }

    .data,
    .social-media {
        grid-column: 1/4;
    }
}

/* nav */




@media screen and (max-width: 768px) {
    .profile-card {
        height: 100%;
        border-radius: 0;
    }

    .profile-header {
        border-radius: 0;
    }

    .main-profile {
        inset: calc(100% - 75px) auto auto 50%;
        transform: translateX(-50%);

        flex-direction: column;
        text-align: center;
    }

    .profile-names {
        transform: translateX(0)
    }

    .profile-body {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .profile-actions {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 90px;
    }

    .bio {
        grid-column: 1/3;
    }

    .data {
        gap: 20px;
    }

    .card{
        margin: 20px 10px;
    }
    .test-info{
        margin-top: 200px;
    }
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}